
.lang-form_lang:not(.is-active){ display: none; }
.lang-form_options{ margin: 0; padding: 0; list-style: none; }
.lang-form_option{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    background: no-repeat center center;
    background-size: 170%;
    margin: 3px 3px;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba( 0, 0, 0, 0 );
    transition: all 300ms ease-out;
}
.lang-form_option:hover,
.lang-form_option.is-active
{
    box-shadow: 0 0 0 2px rgb(52, 132, 198) !important;
}

.lang-form_option[data-lang="pt"]{ background-image: url('icons/Brazil.png'); }
.lang-form_option[data-lang="es"]{ background-image: url('icons/Spain.png'); }
.lang-form_option[data-lang="en"]{ background-image: url('icons/United-Kingdom.png'); }

.lang-form_option[data-lang="mobile"]{ 
    background-image: url(icons/iphone.png);
    background-size: 60%;
    background-color: #9f9f9f;
}

.lang-form_option[data-lang="phone"]{ 
    background-image: url(icons/iphone.png);
    background-size: 60%;
    background-color: #9f9f9f;
}

.lang-form_option[data-lang="tablet"]{ 
    background-image: url(icons/ipad.png);
    background-size: 60%;
    background-color: #9f9f9f;
}

.lang-form_option[data-lang="desktop"]{
    background-image: url(icons/imac.png);
    background-size: 60%;
    background-color: #9f9f9f;
}