
.pedapp {
    background-repeat: no-repeat;
    background-image: url("../images/logo.jpeg");
    background-color: #ffffff;
}

.pedapp-horizontal{
    background-repeat: no-repeat;
    background-image: url("../images/logo.jpeg");
    background-color: #ffffff;
}